<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-motif-refus-heading" data-cy="MotifRefusCreateUpdateHeading" jhiTranslate="raafiqApp.motifRefus.home.createOrEditLabel">
        Create or edit a Motif Refus
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="raafiqApp.motifRefus.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="raafiqApp.motifRefus.libeleAr" for="field_libeleAr">Libele Ar</label>
          <input type="text" class="form-control" name="libeleAr" id="field_libeleAr" data-cy="libeleAr" formControlName="libeleAr" />
          <div *ngIf="editForm.get('libeleAr')!.invalid && (editForm.get('libeleAr')!.dirty || editForm.get('libeleAr')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('libeleAr')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="raafiqApp.motifRefus.libeleFr" for="field_libeleFr">Libele Fr</label>
          <input type="text" class="form-control" name="libeleFr" id="field_libeleFr" data-cy="libeleFr" formControlName="libeleFr" />
          <div *ngIf="editForm.get('libeleFr')!.invalid && (editForm.get('libeleFr')!.dirty || editForm.get('libeleFr')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('libeleFr')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
