<div>
  <h2 id="page-heading" data-cy="EnfantHeading">
    <span jhiTranslate="raafiqApp.enfant.home.title">Enfants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="raafiqApp.enfant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-enfant"
        [routerLink]="['/enfant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="raafiqApp.enfant.home.createLabel"> Create a new Enfant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="enfants?.length === 0">
    <span jhiTranslate="raafiqApp.enfant.home.notFound">No enfants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="enfants && enfants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="raafiqApp.enfant.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDiagnostic">
            <span jhiTranslate="raafiqApp.enfant.dateDiagnostic">Date Diagnostic</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateNaissance">
            <span jhiTranslate="raafiqApp.enfant.dateNaissance">Date Naissance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="degreAutisme">
            <span jhiTranslate="raafiqApp.enfant.degreAutisme">Degre Autisme</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mutualiste">
            <span jhiTranslate="raafiqApp.enfant.mutualiste">Mutualiste</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="raafiqApp.enfant.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomFr"><span jhiTranslate="raafiqApp.enfant.nomFr">Nom Fr</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomMedecin">
            <span jhiTranslate="raafiqApp.enfant.nomMedecin">Nom Medecin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prenom"><span jhiTranslate="raafiqApp.enfant.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenomfr">
            <span jhiTranslate="raafiqApp.enfant.prenomfr">Prenomfr</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="scolariser">
            <span jhiTranslate="raafiqApp.enfant.scolariser">Scolariser</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sexe"><span jhiTranslate="raafiqApp.enfant.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="specialiteMedecin">
            <span jhiTranslate="raafiqApp.enfant.specialiteMedecin">Specialite Medecin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enfant of enfants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/enfant', enfant.id, 'view']">{{ enfant.id }}</a>
          </td>
          <td>{{ enfant.dateDiagnostic | formatMediumDate }}</td>
          <td>{{ enfant.dateNaissance | formatMediumDate }}</td>
          <td>{{ enfant.degreAutisme }}</td>
          <td>{{ enfant.mutualiste }}</td>
          <td>{{ enfant.nom }}</td>
          <td>{{ enfant.nomFr }}</td>
          <td>{{ enfant.nomMedecin }}</td>
          <td>{{ enfant.prenom }}</td>
          <td>{{ enfant.prenomfr }}</td>
          <td>{{ enfant.scolariser }}</td>
          <td>{{ enfant.sexe }}</td>
          <td>{{ enfant.specialiteMedecin }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/enfant', enfant.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/enfant', enfant.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(enfant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="enfants && enfants.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
